<section id="<%= dom_id ctegory %>", class="flex gap-4 border rounded mb-4">
  <%= link_to ctegory_trnsactions_path(ctegory), class: 'block w-full' do %>
    <div class="my-5 font-medium mb-1 w-24 h-24">
      <img src="<%= ctegory.icon %>" alt=<%="#{ctegory.name}-avatar"%> class="block w-full h-full rounded">
    </div>

    <div class="">
      <div class="">
        <p class="my-5 font-medium mb-1">
          <%= ctegory.name %>
        </p>

        <small class=""><%= ctegory.created_at.to_time.strftime('%b %d %Y')%></small>
      </div>

      <div>
        <p>$total</p>
      </div>

    </div>
  <% end %>
</section>
