<%= form_with(model: ctegory, class: "contents") do |form| %>
  <% if ctegory.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(ctegory.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% ctegory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'name', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :icon %>
    <%= form.text_field :icon, placeholder: 'icon url', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Create category", class: "rounded-lg py-2 px-4 bg-zei-green text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
